

<section id="services-564">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Overwhelmed by the Real Estate Process? <span class="cs-color">You Don’t Have to Be.</span>
      </h2>
      <h3 class="cs-h3" style="color: var(--primary);">Work with Victoria Camaj</h3>
      <p class="cs-text">
        Whether you’re buying your first home, selling your last, or building wealth through real estate, it’s easy to
        feel lost, pressured, or taken advantage of. You deserve a guide who puts your goals first, communicates
        clearly, and fights hard to get you results.
      </p>
      <p class="cs-text">
        As one of Michigan’s top ranked realtors, Victoria Camaj has personally helped hundreds of families navigate the
        market with confidence. She brings aggressive negotiation, boutique level service, and a relentless commitment
        to your success. So you don’t have to do this alone.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img class="cs-icon" style="filter: grayscale(.7);" aria-hidden="true" loading="lazy" decoding="async"
            src="/assets/svgs/check.svg" alt="check" width="16" height="18">
          Proven Track Record: 100+ Homes Closed Per Year (Individually)
        </li>
        <li class="cs-li">
          <img class="cs-icon" style="filter: grayscale(.7);" aria-hidden="true" loading="lazy" decoding="async"
            src="/assets/svgs/check.svg" alt="check" width="16" height="18">
          Ranked #5 Realtor in Michigan
        </li>
        <li class="cs-li">
          <img class="cs-icon" style="filter: grayscale(.7);" aria-hidden="true" loading="lazy" decoding="async"
            src="/assets/svgs/check.svg" alt="check" width="16" height="18">
          Full Service Expertise in Buying, Selling, Leasing & Investing
        </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Schedule a Free Strategy Call</a>
    </div>
    <picture  class="cs-picture" id="cspic2">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
      <img loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="Victoria Camaj Real Estate" width="630"
        height="528" aria-hidden="true">
    </picture>
  </div>
</section>