   



<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->


<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1035 {
        padding: var(--sectionPadding);
        /* 160px - 250px */
        padding-top: 50px;
        position: relative;
        z-index: 1;
   
        background-color: #1a1a1a;
    }
    #hero-1035 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        
    }
    #hero-1035 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #hero-1035 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--bodyTextColorWhite);
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        /* 8px - 16px */
        gap: clamp(0.5rem, 1.5vw, 1rem);
    }
    #hero-1035 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        /* 16px - 24px */
        margin: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #hero-1035 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        /* 32px - 38px */
        margin: 0 0 clamp(2rem, 3.5vw, 3rem);
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #hero-1035 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 2rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #hero-1035 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #FFF;
       
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1035 .cs-button-solid:hover {color:#000;}
    #hero-1035 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-1035 .cs-spotlight {
        text-align: center;
        /* 40px - 48px */
        margin: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        padding: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        /* 24px - 32px */
        gap: clamp(1.5rem, 3vw, 2rem);
    }
  
    #hero-1035 .cs-image {
        /* 120px - 156px */
        width: clamp(7.5rem, 12vw, 9.75rem);
        height: auto;
        border: 4px solid var(--primary);
        box-sizing: border-box;
        border-radius: 50%;
        background-color: var(--primary);
    }
    #hero-1035 .cs-name {
        /* 25px - 31px */
        font-size: clamp(1.5625rem, 3vw, 1.9375rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #hero-1035 .cs-job {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        text-align: inherit;
        margin: 0 0 0.75rem 0;
        color: var(--primary);
        display: block;
    }
    #hero-1035 .cs-flex-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        text-align: inherit;
        max-width: 21rem;
        margin: 0;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
        display: block;
    }
    #hero-1035 .cs-image-group {
        width: 100%;
        /* 16px - 48px */
        padding: clamp(1rem, 4.5vw, 3rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        border: 1px solid var(--primary);
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero-1035 .cs-icon {
        /* 100px - 116px */
        width: clamp(6.25rem, 8vw, 7.25rem);
        height: auto;
        margin: 0 0 1.75rem 0;
    }
    #hero-1035 .cs-tagline {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        /* 8px - 32px */
        margin: 0 0 clamp(0.5rem, 2vw, 2rem);
        color: var(--primary);
    }
    #hero-1035 .cs-h2 {
        /* 25px - 31px */
        font-size: clamp(1.5625rem, 3vw, 1.9375rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: inherit;
        width: 70%;
        max-width: 18.75rem;
        margin: 0 0 0.5rem 0;
        color: var(--bodyTextColorWhite);
    }
    #hero-1035 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 18.75rem;
        /* 40px - 48px */
        margin: 0 0 clamp(2.5rem, 5vw, 3rem);
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #hero-1035 .cs-picture {
        width: 100%;
        /* 340px - 560px */
        height: clamp(21.25rem, 43vw, 35rem);
        display: block;
        position: relative;
    }
    #hero-1035 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
    #hero-1035 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #hero-1035 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.7;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #hero-1035 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1035 .cs-container {
        max-width: 80rem;
    }
    #hero-1035 .cs-spotlight {
        text-align: left;
        width: 100%;
        flex-direction: row;
    }
    #hero-1035 .cs-image-group {
        text-align: left;
        align-items: flex-start;
        position: relative;
    }
    #hero-1035 .cs-icon {
        margin: 0;
        position: absolute;
        /* 16px - 48px, same as cs-image-group padding clamp */
        top: clamp(1rem, 4.5vw, 3rem);
        right: clamp(1rem, 4.5vw, 3rem);
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1035 .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }
    #hero-1035 .cs-content {
        max-width: 42.625rem;
        text-align: left;
        align-items: flex-start;
    }
    #hero-1035 .cs-topper {
        flex-direction: row;
        align-items: center;
    }
    #hero-1035 .cs-image-group {
        max-width: 29.375rem;
    }
}

                                
</style>
    {% include 'components/content_featuredlisting1gallery.html' %}
<section id="hero-1035">
 
    <div class="cs-container">
        <div class="cs-content">
         
            <h2 class="cs-title"> 23351 Redman Ct</h2>

               <span class="cs-topper">
                Trenton, MI 48183
                         </span>
            <p class="cs-text">
            Don’t miss this incredible opportunity to own a beautifully updated end-unit condo in the highly sought-after West Grove community! This charming 2-bedroom, 1.5-bath home offers low-maintenance living with a very low HOA and a one-car attached garage for added convenience. Step inside to an open-concept layout featuring a spacious eat-in kitchen, perfect for both everyday living and entertaining. Enjoy generously sized bedrooms with walk-in closets, a newly remodeled full bath, and abundant storage throughout the home. Relax and unwind on the freshly poured private patio surrounded by peaceful, quiet surroundings. With modern updates, a smart layout, and a prime end-unit location, this condo is the perfect blend of comfort and functionality. Newer furnace, air conditioner, hot water heater and Wallside Windows. All appliances included.            </p>
            <a href="/contact" class="cs-button-solid">Schedule a showing</a>
            <div class="cs-spotlight">
                <img class="cs-image" aria-hidden="true" src="/assets/images/headshot.jpg" decoding="async" alt="graphic" width="154" height="154">
                <div class="cs-flex">
                    <span class="cs-name">Victoria Camaj</span>
                    <span class="cs-job">Agent</span>
                 
                </div>
            </div>
        </div>
        <div class="cs-image-group">
            
            <h2 class="cs-title">$169,900</h2>
             {% include 'components/content_featuredlisting1side.html' %}
                 {% include 'components/content_featuredlistingcontact.html' %}

           
          
        </div>
    </div>
    
</section>


 
 <style>
     #map {
  
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #map .cs-title {color:white;}
  #map .cs-container {
    width: 100%;
    padding: var(--sectionPadding);
    max-width: 115rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 5vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #map .cs-content {
    /* aligns text centrally. set to left to left-align text */
    text-align: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centrally aligns items. set to flex-start to left-align items */
    align-items: center;
    z-index: 2;
  }


  @media only screen and (min-width: 44rem) {
    #map .cs-container {width: 450px; position: absolute; top:30px; right:0px; padding-top:30px; padding-bottom:30px;
  }
}
 </style>

 <section id="map">
 <!--Replace this embed code with the google maps embed code of your clients location. To do so, google your clients business, click on the map picture that in the profile card to go to the map location. That will take you to Google maps, then find the share button in the left panel and click on it. You will be given a link to share and a button to copy link, ignore that! AAbove that is a tab that says "Embed a map", click that instead and it will bring up the embed code for you clients location in maps.  Click the button to copy the html and paste it in place of this entire iframe tag. Do not keep the original iframe. Replace it with the new one you got from google maps, unless you want to display a map of Wyoming, then you can keep this iframe. -->
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.861948938805!2d-83.26270042348183!3d42.13183854948899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b475b5e7e670d%3A0xb2fcab7728fb377c!2s23351%20Redman%20Ct%2C%20Brownstown%20Township%2C%20MI%2048183!5e0!3m2!1sen!2sus!4v1750710178317!5m2!1sen!2sus" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</section>
        


