---
title: "About | Victoria Camaj, Top Michigan Realtor | Providence Properties"
description: "Learn more about Victoria Camaj, a trusted Michigan real estate expert with Providence Properties. Dedicated to helping clients buy and sell homes across Oakland County and Downriver."
permalink: "/about/victoriacamaj/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

 {% include 'components/content_victoria.html' %}
 
 {% include 'components/content_victoria2.html' %}


    {% include 'sections/cta.html' %}

{% endblock %}