---
title: 'Top Realtor in Southgate, MI | Buy or Sell with Providence Properties'
description: 'Work with one of Michigan’s top 5 realtors. Providence Properties helps buyers, sellers, and investors across Southgate, Wyandotte, Allen Park & Oakland County. Schedule your free consultation today!'
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="preload" as="image" href="/assets/images/bg1.jpg" type="image/jpeg" fetchpriority="high">



    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}


{% include 'components/hero.html' %}

  
{% include 'components/2.html' %}


{% include 'sections/homepics.html' %}

        {% include 'components/home_featuredlistings.html' %}






    {% include 'sections/cta.html' %}
    

        {% include 'components/homeworth.html' %}
         
{% include 'sections/testimonial.html' %}
  

            {% include 'sections/map.html' %}


{% endblock %}